@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

main {
  --labelWidth: 25rem;
  --labelHeight: 15rem;
}

#paramTitle {
  font-weight: 600;
  line-height: 64px;
  font-size: 4rem;
  overflow-wrap: break-word;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 5rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 900px) {
  #paramTitle {
    font-size: 3rem;
  }
}

#modTitle {
  /* position: relative; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  position: fixed;
  top: 15%;
  left: 0%;
  width: fit-content;
  padding: 2rem;
  border: 0.5rem solid white;
  color: var(--color-primary-400);
  font-weight: 500;
  font-size: 4rem;
  text-transform: uppercase;
  background-color: solid var(--color-accent-400);
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

/* ??? */
/* #modTitle span { */
/*   color: var(--color-accent-400); */
/* } */

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Removing the default check input */
input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}

#contentOption {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

#infoCategory {
  position: absolute;
  top: -20%;
  left: 1%;
  color: var(--text-secondary);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1cap;
  overflow-wrap: break-word;
}

input[type="checkbox"] + label.visiblePart {
  width: var(--labelWidth);
  max-width: var(--labelWidth);
  height: var(--labelHeight);
  max-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.7rem solid var(--text-primary);
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  font-size: 3rem;
  box-shadow: var(--box-shadow);
}

#playlistInput + label.visiblePart {
  background-color: #0ff4c6;
}

#albumInput + label.visiblePart {
  background-color: #89d2dc;
}

#likedTitleInput + label.visiblePart {
  background-color: #f5dfbb;
}

label.visiblePart p {
  width: 100%;
  background: #000000b0;
  padding-block: autofit;
  padding-inline: 2rem;
  text-align: center;
  outline: 9px solid black;
}

#totalOption {
  position: absolute;
  bottom: -12rem;
  left: 20%;
  color: var(--text-secondary);
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/* Removing the default check input */
input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

/* Removing the default check input */
input[type="radio"] + label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid var(--text-primary);
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
  cursor: grab;
}

input[type="radio"]:checked + label {
  border: 0.5rem solid var(--color-primary-400);
  border-radius: 50%;
  transition: all 0.001 ease-out;
}

#submit {
  border-radius: 13px;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 21rem;
  margin-bottom: 7rem;
  padding: 1rem;
  text-transform: uppercase;
  background-color: var(--color-primary-400);
  font-family: "Poppins", sans-serif;
  box-shadow: inset -2px -2px 3px rgb(59, 58, 58);
  outline: 0.5rem solid var(--text-primary);
  cursor: pointer;
}

#submit:hover {
  background-color: #269b4f;
  box-shadow:
    inset -2px -2px 3px rgb(59, 58, 58),
    0px 0px 10px var(--color-primary-400);
}
